body{
/*background-color:#15a2e8;*/
position: relative;
width:1300px;
height:1000px;
background-image:url("../image/background.jpg");
margin:auto;
}
header {
width:1300px;
}
/* navigation bar */
#divNav {
margin:auto;
width: 1150px;
height: 200px;
background-color:white;
opacity:0.5;
box-shadow: 0px 0px 20px 3px #15a2e8;
border-radius: 25px;
}

#divimglogo {
width: 170px;
height:170px;
padding-top: 15px;
}

#divMenu {
background-color:transparent;
width:600px;
height:50px;
float:right;
}

#divMenu ul {
list-style-type:none;
margin:0;
padding:0;
padding-top:120px;
} 

#divMenu li{
display:inline;
}

#divMenu a{
width:60px;
font-size:30px;
text-decoration: none;
padding-right:10px;
}

#divMenu a:hover {
background-image:url("../image/menuimage.png");
background-size:100px 50px;
background-position:left; 
background-repeat:no-repeat;
padding-top:10px;
padding-left:10px;
box-shadow : 0px 4px 0px #15a2e8;
}

/* contenu principal */
#divContent {
margin:auto;
width: 1300px;
height: 800px;
}

#page {
width: 900px;
height:800px;
float: left;
margin-top: 10px;
padding-top: 10px;
padding-bottom: 20px;
margin-left: 20px;
/*
box-shadow: 0px 0px 20px 3px #15a2e8;
border-radius: 4px;
*/
}
/*
#page img {
width: 950px;
height:550px;
border:0px solid #a1a1a1;
border-radius:25px;
margin-left: 100px;
margin-right: 100px;
}*/
/*j'ai fais pour la contenu de la colonne droit*/
#rightcolumn {
width: 290px;
height: 500px;
float: right;
margin-right: 80px;
margin-top: 70px;
padding-top: 10px;
padding-bottom: 20px;
font-size: 11px;
padding-left: 5px;
box-shadow: 0px 0px 20px 3px #15a2e8;
border-radius: 25px;
background-color: white;
opacity: 0.5;
}
/*
.slider {
width:900px;
height:900px;
overflow:hidden;
margin :30px auto;

background-image:url("../image/loading.gif");
background-repeat:no-repeat;
background-position:center;

}

.slider img {
width:800px;
height:900px;
display:none;
overflow:hidden;
}

.shadow{
background-image:url("../image/shadow.png");
background-repeat:no-repeat;
background-position:top;
width:864px;
height:144px;
margin:-6px auto;
}
*/